/* Colors */
/* Orange_FF701A
Blue_00ADEE
Navy Blue_034DA2
BG_F0F0F0
Text Colour_404040
White_FFFFFF
Grey Border_D0D0D0
Off white_FCFCFC */
/* Colors */
* {
    padding: 0%;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F0F0F0;
}

.active-2 {
    border: 1px solid #034DA2;
    color: #034DA2 !important;
    padding: 5px 0px;
    border-radius: 20px;
}

/* /////////// NAVBAR /////////// */
.nav-link {
    font-size: 15px;
    justify-content: space-between;
    color: #404040;
}

.get-quote-button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #FF701A;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.get-icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.get-quote-button:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.get-quote-button:hover .icon {
    transform: translate(4px);
}

.get-quote-button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.get-quote-button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.dropdown-item:hover {
    background-color: #FF7F3F;
    color: white;
}

nav {
    box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.488);
}

@media screen and (max-width : 347px) {
    .navbar-brand img {
        width: 220px;
        height: 40px;
    }
}

@media screen and (max-width : 992px) {
    .nav-link {
        padding: 10px;
    }

    .second-logo {
        display: none;
    }

    .home-link {
        margin-top: 8%;
    }

    .navbar-toggler {
        margin-left: 85%;
        margin-top: -15%;
        color: #FF701A;
        border: none;
    }

    .navbar-toggler-icon {
        color: #FF701A;
    }

    body {
        overflow-x: hidden;
    }
}

@media screen and (min-width : 401px) and (max-width : 600px) {
    .navbar-toggler {
        margin-top: -10%;
    }
}

@media screen and (min-width : 601px) and (max-width : 800px) {
    .navbar-toggler {
        margin-top: -8%;
    }
}

@media screen and (min-width : 801px) and (max-width : 992px) {
    .navbar-toggler {
        margin-top: -6%;
    }
}

@media screen and (min-width : 992px) and (max-width : 1500px) {
    .first-logo {
        display: none;
    }
}

@media screen and (min-width : 320px) and (max-width : 360px) {
    .first-logo {
        width: 100px;
        height: 50px;
    }
}

@media screen and (min-width : 992px) and (max-width : 1100px) {
    .nav-link {
        font-size: 12px;
    }
}

@media screen and (max-width : 1200px) {
    body {
        overflow-x: hidden;
    }
}

/* /////////// NAVBAR /////////// */

/*///////////////Carousel///////////////////  */
.carousel-first-sec {
    margin-top: 8%;
}

@media screen and (max-width : 768px) {
    .carousel-item {
        width: 100%;
    }
}

@media screen and (max-width : 450px) {
    .carousel-first-sec {
        margin-top: 25%;
    }
}

@media screen and (min-width : 451px) and (max-width : 550px) {
    .carousel-first-sec {
        margin-top: 20%;
    }
}

@media screen and (min-width : 551px) and (max-width : 700px) {
    .carousel-first-sec {
        margin-top: 15%;
    }
}

@media screen and (min-width : 701px) and (max-width : 1100px) {
    .carousel-first-sec {
        margin-top: 13%;
    }
}

.carousel-control-prev-icon {
    background-image: url(../images/Previous\ Button.png) !important;
}

.carousel-control-next-icon {
    background-image: url(../images/Next\ BUtton.png) !important;
}

@media screen and (max-width : 500px) {
    .carousel-control-next-icon {
        margin-left: -30% !important;
    }
}

/*///////////////Carousel///////////////////  */

/* //////////////sec-second-services//////////////// */
.sec-second-heading {
    color: #FF701A;
}

@media screen and (max-width : 700px) {
    .sec-second-heading h1 {
        margin-top: 1rem !important;
    }

}

@media screen and (max-width : 450px) {
    .sec-second-heading h1 {
        font-size: 20px !important;
    }
}

.safe-shipping {
    width: 250px;
    height: 178px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trusted-organization {
    width: 250px;
    height: 178px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trusted-organization p {
    font-size: 18px;
}


.ts-icon-head-text h4 {
    color: #034DA2;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.ts-icon-head-text img {
    width: 70px;
    height: 50px;
}

.sh-icon-head-text h4 {
    color: #034DA2;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.sh-icon-head-text img {
    width: 65px;
    height: 60px;
}

.safe-shipping p {
    font-size: 18px;
}

.bs-icon-head-text h4 {
    color: #034DA2;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.bs-icon-head-text img {
    width: 65px;
    height: 50px;
}

.best-service {
    width: 250px;
    height: 373px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.best-service p {
    font-size: 18px;
}

.experience-img img {
    width: 100%;
}

.experince-heading h1 {
    color: #034DA2;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
}

.experince-heading h4 {
    color: #034DA2;
    font-size: 20px;
    position: absolute;
    margin-top: 3.5%;
}

/* Learn more button */
.learn-more-button {
    position: absolute;
    margin-left: -1%;
}

.learn-more {
    font-family: inherit;
    display: inline-block;
    width: 7.8em;
    height: 2.9em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #FF701A;
    border: 2px solid #FF701A;
    /* border: none; */

}
.learn-more a{
    text-decoration: none;
    color: #FFFFFF;
}
.learn-more:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #FFFFFF;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.learn-more:hover {
    border: none;
    border: 2px solid #FF701A;

}
.learn-more a:hover {
    color: #FF701A;
}

.learn-more:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.learn-more:hover:before {
    top: -30px;
    left: -30px;
}

.learn-more:active:before {
    transition: background 0s;
}



/* Learn more button */
.footer {
    margin-top: 50px;
}

@media screen and (max-width : 767px) {
    .sec-second-heading {
        font-size: 35px;
    }

    .services-badge {
        margin-top: 8%;
        /* margin: 10px 10px 10px 20px; */
    }

    .best-service {
        margin-top: 7%;
    }

    .experince-heading h1 {
        font-size: 25px;
    }

    .experince-heading h4 {
        font-size: 12px;
        margin-top: 8%;
    }

    .learn-more {
        width: 80px;
        font-size: 12px;
        margin-left: 5%;
        margin-top: -20%;
    }
}

@media screen and (min-width : 360px) and (max-width : 410px) {
    .experince-heading h1 {
        font-size: 28px;
    }

    .experince-heading h4 {
        font-size: 15px;
        margin-top: 8%;
    }

    .learn-more {
        width: 90px;
        font-size: 13px;
    }
}

@media screen and (min-width : 411px) and (max-width : 480px) {
    .experince-heading h1 {
        font-size: 32px;
    }

    .experince-heading h4 {
        font-size: 18px;
        margin-top: 8%;
    }

    .learn-more {
        width: 100px;
        font-size: 13px;
    }
}

@media screen and (min-width : 481px) and (max-width : 550px) {
    .experince-heading h1 {
        font-size: 35px;
    }

    .experince-heading h4 {
        font-size: 20px;
        margin-top: 8%;
    }

    .learn-more {
        width: 120px;
        font-size: 16px;
    }
}

@media screen and (min-width : 551px) and (max-width : 650px) {
    .experince-heading h1 {
        font-size: 40px;
    }

    .experince-heading h4 {
        font-size: 20px;
        margin-top: 8%;
    }

    .learn-more {
        width: 120px;
        font-size: 16px;
        margin-top: -0%;
    }
}

@media screen and (min-width : 651px) and (max-width : 767px) {
    .experince-heading h1 {
        font-size: 40px;
    }

    .experince-heading h4 {
        font-size: 20px;
        margin-top: 6%;
    }

    .learn-more {
        width: 120px;
        font-size: 16px;
        margin-top: 8%;
    }
}

@media screen and (min-width : 768px) and (max-width : 991px) {
    .experince-heading h1 {
        font-size: 40px;
    }

    .experince-heading h4 {
        font-size: 20px;
        margin-top: 6%;
    }

    .services-badge {
        margin-top: 8%;
    }

}

@media screen and (min-width : 992px) and (max-width : 1199px) {
    .learn-more {
        font-size: 14px;
        margin-top: 17%;
    }

    .safe-shipping {
        width: 230px;

    }

    .safe-shipping p {
        font-size: 17px;

    }

    .trusted-organization {
        width: 230px;
    }

    .trusted-organization p {
        font-size: 17px;

    }

    .best-service {
        width: 230px;
        margin-right: -10%;
    }

    .best-service p {
        font-size: 17px;

    }
}

@media screen and (min-width : 575px) and (max-width : 767px) {
    .best-service {
        margin-top: 0%;
    }
}

@media screen and (min-width : 320px) and (max-width : 574px) {
    .trusted-organization {
        width: auto;
    }

    .safe-shipping {
        width: auto;

    }

    .best-service {
        width: auto;
        height: auto;

    }
}

@media screen and (max-width : 350px) {
    .learn-more {
        margin-left: -7%;

    }
}

/* //////////////sec-second-services//////////////// */
/* /////////////supply chain section////////////// */

/* learnmore button2 */
/* .learn-more-button-2 {
    position: absolute;
    margin-left: unset;
    margin-top: -5.5%;
} */

.learn-more-2 {
    font-family: inherit;
    position: relative;
    overflow: hidden;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #FF701A;
    border: 2px solid #FF701A;
    float: right;
    padding: 10px 20px;
    bottom: 3rem;
}
.learn-more-2 a {
    color: #FFFFFF;
    text-decoration: none;
}
.learn-more-2:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #FFFFFF;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.learn-more-2:hover {
    border: none;
    border: 2px solid #FF701A;

}
.learn-more-2 a:hover {
    color: #FF701A;
}

.learn-more-2:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.learn-more-2:hover:before {
    top: -30px;
    left: -30px;
}

.learn-more-2:active:before {
    transition: background 0s;
}

.supply-chain-img img {
    width: 100%;
}

/* learnmore button2 */
.chart p {
    font-size: 18px;
    color: #404040;
}

.chart img {
    width: 100%;
}

@media screen and (max-width : 350px) {
    .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    }
}

@media screen and (min-width : 350px) and (max-width : 400px) {
    .learn-more-2 {
        font-size: 14px;
        padding: 6px 4px;
        bottom: 2rem;
    }
}

@media screen and (min-width : 401px) and (max-width : 500px) {
    .learn-more-2 {
        font-size: 15px;
        padding: 8px 5px;
        bottom: 2.5rem;
    }
}

@media screen and (min-width : 501px) and (max-width : 600px) {
    .learn-more-2 {
        font-size: 16px;
        padding: 9px 8px;
        bottom: 2.5rem;
    }
}

@media screen and (min-width : 611px) and (max-width : 660px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

@media screen and (min-width : 661px) and (max-width : 700px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

@media screen and (min-width : 701px) and (max-width : 767px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

@media screen and (min-width : 767px) and (max-width : 800px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

@media screen and (min-width : 801px) and (max-width : 850px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

@media screen and (min-width : 851px) and (max-width : 900px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

@media screen and (min-width : 901px) and (max-width : 950px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

@media screen and (min-width : 951px) and (max-width : 992px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

@media screen and (min-width : 992px) and (max-width : 1050px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

@media screen and (min-width : 1050px) and (max-width : 1150px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

@media screen and (min-width : 1150px) and (max-width : 1200px) {
    /* .learn-more-2 {
        font-size: 13px;
        padding: 6px 2px;
        bottom: 2rem;
    } */
}

/* /////////////supply chain section////////////// */

/* //////////////industries//////////////// */
.health {
    width: 350px;
    height: 174px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: -12%;
    margin-bottom: 15%;

}

.health h5 {
    position: relative;
    margin-top: -15%;
    color: #FFFFFF;
    font-weight: 700;
}

.petroleum {
    width: 350px;
    height: 174px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.petroleum h5 {
    position: relative;
    margin-top: -15%;
    color: #FFFFFF;
    font-weight: 700;
}

.energy {
    width: 350px;
    height: 174px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: -12%;
    margin-bottom: 15%;

}

.energy h5 {
    position: relative;
    margin-top: -15%;
    color: #FFFFFF;
    font-weight: 700;
}

.transport {
    width: 350px;
    height: 174px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.transport h5 {
    position: relative;
    margin-top: -15%;
    color: #FFFFFF;
    font-weight: 700;
}

.fertilizer {
    width: 350px;
    height: 174px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: -12%;
    margin-bottom: 15%;

}

.fertilizer h5 {
    position: relative;
    margin-top: -15%;
    color: #FFFFFF;
    font-weight: 700;
}

.food-baverages {
    width: 350px;
    height: 174px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.food-baverages h5 {
    position: relative;
    margin-top: -15%;
    color: #FFFFFF;
    font-weight: 700;
}

.industries-heading {
    background-color: #F0F0F0;
    border-radius: 20px;
    position: relative;
}

.industries-heading h1 {
    color: #FF701A;
    font-weight: bold;
}

.industries-heading p {
    font-size: 18px;
    color: #404040;
}

@media screen and (max-width : 575px) {
    .industries-heading {
        border-radius: 0;
        margin-bottom: 50px;
    }
}

@media screen and (max-width : 1200px) {
    .chart {
        margin-top: 10%;
    }
}

@media screen and (min-width : 471px) and (max-width : 575px) {
    .indus {
        width: 92vw;
        margin-bottom: 30%;
    }

    .indus img {
        width: 92vw;
    }

    .petroleum {
        margin-bottom: 40%;
    }

    .transport {
        margin-bottom: 40%;
    }
}

@media screen and (max-width : 470px) {
    .health {
        width: 92vw;
        margin-bottom: 20%;
    }

    .health img {
        width: 92vw;

    }

    .petroleum {
        width: 92vw;
        margin-bottom: 33%;
    }

    .petroleum img {
        width: 92vw;
    }

    .energy {
        width: 92vw;
        margin-bottom: 20%;
    }

    .energy img {
        width: 92vw;
    }

    .transport {
        width: 92vw;
        margin-bottom: 30%;
    }

    .transport img {
        width: 92vw;
    }

    .fertilizer {
        width: 92vw;
        margin-bottom: 20%;
        margin-left: -3%;
    }

    .fertilizer img {
        width: 92vw;
    }

    .food-baverages {
        width: 92vw;
        margin-left: -3%;

    }

    .food-baverages img {
        width: 92vw;
    }
}

@media screen and (min-width : 577px) and (max-width : 767px) {
    .indus {
        margin: auto;
    }

    .health {
        margin-left: -40%;
        margin-bottom: 20%;
    }

    .petroleum {
        margin-left: -40%;
        margin-bottom: 20%;
    }

    .fertilizer {
        margin-left: -48%;
        margin-bottom: 20%;
    }

    .energy {
        margin-bottom: 20%;
    }
}

@media screen and (min-width : 761px) and (max-width : 991px) {
    .indus {
        margin: auto;
    }

    .health {
        margin-left: -10%;
        margin-bottom: 20%;
    }

    .petroleum {
        margin-left: -10%;
        margin-bottom: 20%;
    }

    .fertilizer {
        margin-left: -30%;
        margin-bottom: 20%;
    }

    .energy {
        margin-bottom: 20%;
    }

    .food-baverages {
        margin-left: 128%;
    }
}

@media screen and (min-width : 992px) and (max-width : 1199px) {
    .health {
        margin-left: -30%;
    }

    .energy {
        margin-left: -5%;
    }

    .fertilizer {
        margin-left: 16%;
    }

    .petroleum {
        margin-left: -30%;
    }

    .food-baverages {
        margin-left: 16%;

    }

    .transport {
        margin-left: -5%;

    }
}

.sec-fifth {
    padding: 5rem 0 0 0;
}

@media screen and (max-width : 450px) {
    .sec-fifth {
        padding: 2rem 0 0 0;
    }

    .sec-sixth {
        padding: 2rem 0 0 0;
    }
}

.sec-sixth {
    padding: 1rem 0 0 0;
}

@media screen and (min-width : 370px) and (max-width : 451px) {
    .wtbtb h2 {
        padding-top: 3rem;
    }
}

@media screen and (min-width : 470px) and (max-width : 651px) {
    .sec-fifth {
        padding: 0 0 0 0;
    }
}

/* //////////////industries//////////////// */
/* /////////////we think beyond the borders///////////// */
.map {
    margin-left: -180%;
}

@media screen and (max-width : 991px) {
    .map {
        display: none;
    }
}

@media screen and (min-width : 992px) and (max-width : 1200px) {
    .map {
        margin-left: -235%;
    }
}

.wtbtb h2 {
    color: #FF701A;
    font-weight: bold;
}

.wtbtb p {
    font-size: 18px;
    color: #404040;
}

.stats-1 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 2px solid #034DA2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats-1 h1 {
    color: #034DA2;
    font-weight: bold;
}

.stats-1 h6 {
    color: #034DA2;
    font-weight: 700;
}

.stats-2 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 60%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border: 2px solid #034DA2;
}

.stats-2 h1 {
    color: #034DA2;
    font-weight: bold;
}

.stats-2 h6 {
    color: #034DA2;
    font-weight: 700;
}

.stats-3 {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border-radius: 20px;
    border: 2px solid #034DA2;
}

.stats-3 h1 {
    color: #034DA2;
    font-weight: bold;
}

.stats-3 h6 {
    color: #034DA2;
    font-weight: 700;
}

.stats-4 {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid #034DA2;
    margin-top: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.stats-4 h1 {
    color: #034DA2;
    font-weight: bold;
}

.stats-4 h6 {
    color: #034DA2;
    font-weight: 700;
}

@media screen and (max-width : 400px) {
    .stats-1 {
        margin-left: -5%;
    }

    .stats-2 {
        margin-top: -53%;
        margin-left: 53%;
    }

    .stats-3 {
        margin-top: 3%;
        margin-left: -4%;
    }

    .stats-4 {
        margin-top: -53%;
        margin-left: 53%;
    }
}

@media screen and (min-width : 401px) and (max-width : 500px) {

    .stats-2 {
        margin-top: -36%;
        margin-left: 53%;
    }

    .stats-3 {
        margin-top: 3%;
    }

    .stats-4 {
        margin-top: -36%;
        margin-left: 53%;
    }
}

@media screen and (min-width : 501px) and (max-width : 577px) {
    .stats-2 {
        margin-top: -36%;
        margin-left: 53%;
    }

    .stats-3 {
        margin-top: 3%;
    }

    .stats-4 {
        margin-top: -36%;
        margin-left: 53%;
    }
}

@media screen and (min-width : 577px) and (max-width : 767px) {

    .stats-2 {
        margin-top: 150%;
        /* margin-left: 53%; */
    }

    .stats-4 {
        margin-top: 150%;
        /* margin-left: 53%; */
    }
}

/* /////////////we think beyond the borders///////////// */

/* /////////// MEMBERS///////////// */
.members-heading h1 {
    color: #FF701A;
    font-weight: bold;
}

.members-heading p {
    color: #404040;
}

.member {
    height: 200px;
    background-color: #FFFFFF;
    transition: box-shadow 0.5s ease;
}

.member:hover {
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25) inset;
}

.member-main {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.members-heading img {
    margin-top: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width : 767px) {
    .member {
        height: 70px;
    }
}

/* /////////// MEMBERS///////////// */
/*////////////TESTIMONIALS///////////////// */
.testimonials-h-p {
    text-align: left;
}

.testimonials-h-p h1 {
    color: #FF701A;
    font-weight: bold;
    font-size: 35px;
}

.testimonials-h-p p {
    color: #404040;
    padding: 10px;
    font-size: 20px;
}

.testimonial-1 {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.testimonial-1 p {
    color: #404040;
    font-size: 18px;
    padding: 10px;
}

.testimonial-2 {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.testimonial-2 p {
    padding: 10px;
    color: #404040;
    font-size: 18px;
}

.testimonial-3 {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.testimonial-3 p {
    padding: 10px;
    color: #404040;
    font-size: 18px;
}

.names {
    color: #034DA2;
    font-weight: bold;
    padding-left: 20px;
}

.testi-img {
    width: 100px;
    height: 75px;
    margin-left: 27%;
    border: 10px solid #F0F0F0;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-position: center;
}

.testi-img-1 {
    width: 200px;
    height: 75px;
    border-top-left-radius: 20px;
    margin-left: 40.5%;
    border: 10px solid #F0F0F0;
    object-fit: cover;
    border-bottom-right-radius: 20px;
    background-position: center;
}

.testi-img-2 {
    width: 100px;
    height: 75px;
    border-top-left-radius: 20px;
    margin-left: 30.5%;
    border: 10px solid #F0F0F0;
    object-fit: cover;
    border-bottom-right-radius: 20px;
    background-position: center;
}

.name-img-flex {
    margin-top: 30%;
}

@media screen and (max-width : 360px) {
    .testimonial-1 {
        margin-bottom: 10%;
    }

    .testimonial-2 {
        margin-bottom: 10%;
    }

    .testi-img-1 {
        height: 90px;
        margin-left: 45%;
    }

    .testi-img-2 {
        height: 90px;
        margin-left: 30%;

    }

    .testi-img {
        height: 90px;
        margin-left: 30%;

    }
}

@media screen and (min-width : 360px) and (max-width : 450px) {
    .testimonial-1 {
        margin-bottom: 10%;
    }

    .testimonial-2 {
        margin-bottom: 10%;
    }

    .testi-img-1 {
        height: 90px;
        margin-left: 55%;
    }

    .testi-img-2 {
        height: 90px;
        margin-left: 40%;

    }

    .testi-img {
        height: 90px;
        margin-left: 40%;

    }
}

@media screen and (min-width : 451px) and (max-width : 500px) {
    .testimonial-1 {
        margin-bottom: 10%;
    }

    .testimonial-2 {
        margin-bottom: 10%;
    }

    .testi-img-1 {
        height: 90px;
        margin-left: 60%;
    }

    .testi-img-2 {
        height: 90px;
        margin-left: 50%;

    }

    .testi-img {
        height: 90px;
        margin-left: 50%;
    }
}

@media screen and (min-width : 501px) and (max-width : 576px) {
    .testimonial-1 {
        margin-bottom: 10%;
    }

    .testimonial-2 {
        margin-bottom: 10%;
    }

    .testi-img-1 {
        height: 90px;
        margin-left: 65%;
    }

    .testi-img-2 {
        height: 90px;
        margin-left: 52%;

    }

    .testi-img {
        height: 90px;
        margin-left: 52%;
    }
}

@media screen and (min-width : 577px) and (max-width : 767px) {
    .testimonial-3 p {
        font-size: 14px;
    }

    .names {
        font-size: 15px;
    }

    .testi-img {
        margin-left: 15%;
    }

    .testimonial-2 p {
        font-size: 14px;
    }

    .names {
        font-size: 15px;
    }

    .testi-img-2 {
        margin-left: 15%;
    }

    .testimonial-1 p {
        font-size: 14px;
    }

    .names {
        font-size: 15px;
    }

    .testi-img-1 {
        margin-left: 15%;
        width: 90px;
        margin-top: -15%;
    }
}

@media screen and (min-width : 768px) and (max-width : 992px) {
    .names {
        margin-top: -30%;
    }

    .testi-img {
        margin-top: -20%;
    }

    .testi-img-1 {
        margin-top: -35%;
    }

    .testi-img-2 {
        margin-top: -35%;
    }

    .Samantha {
        padding-top: 20px;
    }
}

@media screen and (min-width : 993px) and (max-width : 1200px) {
    .names {
        margin-top: -30%;
    }

    .testi-img {
        margin-top: -20%;
    }

    .testi-img-1 {
        margin-top: -35%;
    }

    .testi-img-2 {
        margin-top: -35%;
    }

    .Samantha {
        padding-top: 20px;
    }

    .testimonials-h-p h1 {
        font-size: 30px;
    }
}

/*////////////TESTIMONIALS///////////////// */


/* modal */
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #404040;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #404040;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #034DA4;
    font-weight: bold;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #FF701A;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #404040;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #FF701A;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF701A,
        0 0 25px #FF701A,
        0 0 50px #FF701A,
        0 0 100px #FF701A;
}

.login-box a span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FF701A);
    animation: btn-anim1 2s linear infinite;
}



.main-indus {
    margin-top: 6%;
}

@media screen and (max-width : 1300px) {
    .indus-img img {
        width: 100%;
    }
}

@media screen and (max-width : 767px) {
    .main-indus {
        margin-top: 20%;
    }
}

.health-indus-divs {
    background-color: #FFFFFF;
    border-radius: 20px;
}

.healt-div {
    border: 2px solid gray
}

.health-indus-divs-indus h5 {
    padding: 10px;
    background-color: #F0F0F0;
    color: #034DA2;
    font-weight: bold;
    border-bottom-right-radius: 20px;
}

.health-indus-divs-indus p {
    padding: 10px;
    color: #404040;
    font-size: 18px;
}

.energy-indus-divs {
    background-color: #FFFFFF;
    border-radius: 20px;
}

.energy-indus-divs-indus h5 {
    padding: 10px;
    padding-left: 20px;
    background-color: #F0F0F0;
    color: #034DA2;
    font-weight: bold;
    border-bottom-left-radius: 20px;
}

.energy-indus-divs-indus p {
    padding: 10px;
    color: #404040;
    font-size: 18px;
}

@media screen and (min-width : 992px) and (max-width : 1200px) {
    .energy-indus-divs-indus p {
        font-size: 14px;
    }

    .health-indus-divs-indus p {
        font-size: 14px;

    }
}

@media (max-width: 520px) {
    .all-divs {
        flex-direction: column;
    }

    .health-indus-divs {
        flex-direction: column;
    }

    .energy-indus-divs {
        flex-direction: column;

    }

    #energy-indus-divs-indus {
        order: -1;
    }

    .health-indus-divs-img {
        order: 1;
        /* Move the image container to the bottom */
    }
}


.our-networks-main {
    margin-top: 8%;
}

.our-networks-img img {
    width: 100%;
}

.our-networks-h-t h1 {
    color: #FF701A;
    font-weight: bold;
}

.para {
    font-weight: bold;
    font-size: 20px;
}

.our-networks-h-t p {
    font-size: 18px;
    color: #404040;
}

.para-text p {
    color: #404040;
    font-size: 18px;
}

.experties-countries-heading h1 {
    color: #FF701A;
    font-weight: bold;
}

.experties-para {
    color: #404040;
}

.expertes-sub {
    font-weight: bold;
    color: #034DA2;
    font-size: 20px;
}

@media screen and (max-width : 992px) {
    .our-networks-main {
        margin-top: 20%;
    }
}

@media screen and (max-width : 767px) {
    #text-para {
        order: -1;
    }

    .our-networks-img img {
        width: 100%;
    }

    .our-networks-img-2 img {
        width: 100%;
    }
}

@media screen and (min-width : 768px) and (max-width : 992px) {
    #text-para {
        order: -1;
    }
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}

.grid-item {
    width: 223px;
    height: 215px;
    background-color: #FFFFFF;
    color: #404040;
    /* border: 1px solid gray; */
    font-size: 15px;
    text-align: left;
    border-radius: 20px;
}

.grid-item h6 {
    font-size: 20px;
    padding: 10px;
    color: #034DA2;
    font-weight: bold;
}

.grid-item p {
    padding: 10px;
}

.grid-item img {
    object-fit: cover;
    border-radius: 20px;
}

@media only screen and (max-width: 767px) {
    .grid-item {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 479px) {
    .grid-item {
        width: 100%;
    }

    .grid-item img {
        width: 100%;
        height: 215px;
    }
}

@media only screen and (min-width: 767px) and (max-width : 991px) {
    .uae-img {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width : 1200px) {
    .uae-div {
        margin-left: 23%;
    }
}


/************************** ABOUT PAGE **************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F0F0F0 !important;
}



/* Header */

.aboutHeader {
    padding: 40px 0 0 0;
}

.aboutHeader h4 {
    color: #034DA4;
    font-weight: bold;
    font-size: 20px;
}

.aboutHeader h1 {
    color: #FF701A;
    font-weight: bold;
}

.aboutHeader p {
    color: #404040;
    font-size: 18px;
}

.aboutHeader ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.aboutHeader ul li {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 120px;
    padding: 5px 10px;
}

.aboutHeader ul li span {
    color: #FF701A;
    font-size: 18px;
    font-weight: bold;
}

.aboutHeader ul li p {
    color: #404040;
    font-size: 15px;
    line-height: 15px;
    margin: 5px 0 5px 0;
}

.aboutHeader .img-fluid {
    position: relative;
    bottom: 7.5rem;
    display: flex;
    margin: 0 auto;
}


/* Section-2 */

.aboutSec2 {
    margin: 20px auto;
}

.aboutSec2 h1 {
    color: #034DA4;
    font-size: 20px;
    font-weight: bold;
}

.aboutSec2 p {
    color: #404040;
    font-size: 18px;
}


/* Section-3 */

.aboutSec3 {
    margin: 40px auto;
}

.aboutSec3 h1 {
    color: #034DA4;
    font-size: 20px;
    font-weight: bold;

}

.aboutSec3 p {
    color: #404040;
    font-size: 18px;
}


/* Section-4 */

.aboutSec4 {
    margin: 40px auto;
}

.aboutSec4 h1 {
    text-align: center;
    color: #FF701A;
    font-weight: bold;

}

.aboutSec4 h3 {
    color: #034DA4;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.aboutSec4 p {
    font-size: 18px;
    text-align: center;
    color: #404040;
}

.aboutSec4 .img-fluid {
    display: flex;
    margin: 30px auto;
}





/************************* CONTACT PAGE *************************/

.contactSec-1 {
    margin: 40px auto;
}

.contactSec-1 .row {
    justify-content: space-between;
}

.contactSec-1 .box-1 {
    border-radius: 0 20px 20px 20px;
    background-color: #FFF;
    padding: 0;
    width: 48%;
}

.contactSec-1 .box-1 h1 {
    background-color: #F0F0F0;
    border-radius: 0 0 20px 0;
    text-align: center;
    width: 40%;
    color: #FF701A;
    font-weight: bold;
    font-size: 33px;
    letter-spacing: 0.4px;
    padding: 5px 0;
}

.contactSec-1 .box-2 {
    border-radius: 20px 0 20px 20px;
    background-color: #FFF;
    width: 48%;
}

.contactSec-1 form {
    padding: 40px 40px 0 40px;
}

.contactSec-1 .box-2 h1 {
    background-color: #F0F0F0;
    border-radius: 0 0 0 20px;
    text-align: center;
    width: 40%;
    color: #FF701A;
    font-weight: bold;
    position: relative;
    left: 62.4%;
    font-size: 33px;
    letter-spacing: 0.4px;
    padding: 5px 0;
}

.contactSec-1 .form-control {
    border: 0;
    border-bottom: 1px solid #8a8888;
    border-radius: 0;
    padding: 0;
    outline: none;
}

.contactSec-1 label {
    color: #034DA4;
    font-weight: bold !important;
    font-size: 16px;

}

.contactSec-1 ::placeholder {
    color: #D0D0D0 !important;
    font-size: 15px;
}

.contactSec-1 form .btn {
    border: 2px solid #FF701A;
    color: #FF701A;
    border-radius: 30px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    padding: 8px 32px;
}

.contactSec-1 form .btn:hover {
    background-color: #FF701A;
    color: #FFFFFF;
}

.contactSec-1 .content {
    padding: 40px;
}

.contactSec-1 ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 40px;
    position: relative;
    top: 40px;
}

.contactSec-1 ul li {
    width: 50%;
}

.contactSec-1 p {
    font-size: 20px;
    color: #404040;
}

.contactSec-1 span {
    font-size: 20px;
    color: #FF701A;
    font-weight: bold;
}

.contactSec-1 ul li p {
    font-size: 14px;
    color: #404040;
    font-weight: 400;
}









/********************************** SERVICES PAGE **********************************/


.serviceHeader {
    margin: 5rem auto;
}

.serviceHeader .carousel-control-next-icon {
    background-image: url("../images/next-button.png") !important;
    width: 50px !important;
    height: 50px !important;
}



.serviceHeader .carousel-control-prev-icon {
    background-image: url("../images/previous-button.png") !important;
    width: 50px !important;
    height: 50px !important;
}

.serviceHeader .carousel-control-prev,
.carousel-control-next {
    width: 7% !important;
}

#carouselService {
    background-image: url("../images/serviceHeader.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 40px 0;
}

.serviceHeader .card {
    border: 0;
    padding: 30px 40px;
    border-radius: 30px;
    width: 90%;
    margin-left: auto;
}

.serviceHeader .card span {
    color: #FF701A;
    font-size: 30px;
    font-weight: bold;
}

.serviceHeader .card h4 {
    color: #034DA4;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.serviceSec1 {
    margin: 40px auto;
}

.serviceSec1 h1 {
    text-align: center;
    color: #FF701A;
    text-transform: uppercase;
}

.serviceSec1 p {
    font-size: 18px;
    text-align: center;
    color: #404040;
}

.serviceSec2 {
    margin: 4rem auto;
}

.serviceSec2 h1 {
    color: #034DA4;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 20px 0 0 20px;
    border-radius: 20px 20px 0 0;
    width: 30%;
    position: relative;
    top: 8px;
}

.serviceSec2 p {
    font-size: 18px;
    color: #404040;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 0 20px 20px 20px;
}

.serviceSec3 {
    margin: 4rem auto;
}

.serviceSec3 h1 {
    color: #034DA4;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 20px 0 0 20px;
    border-radius: 20px 20px 0 0;
    width: 36%;
    position: relative;
    top: 8px;
    margin-left: auto;
}

.serviceSec3 p {
    font-size: 18px;
    color: #404040;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px 0px 20px 20px;
    text-align: right;
}

.serviceSec4 {
    margin: 4rem auto;
}

.serviceSec4 h1 {
    color: #034DA4;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 20px 0 0 20px;
    border-radius: 20px 20px 0 0;
    width: 35%;
    position: relative;
    top: 8px;
}

.serviceSec4 p {
    font-size: 18px;
    color: #404040;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 0 20px 20px 20px;
}

.serviceSec4 .img-fluid {
    position: relative;
    top: 4rem;
}


.serviceSec5 {
    margin: 4rem auto;
}

.serviceSec5 h1 {
    color: #034DA4;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 20px 0 0 20px;
    border-radius: 20px 20px 0 0;
    width: 36%;
    position: relative;
    top: 8px;
    margin-left: auto;
}

.serviceSec5 p {
    font-size: 18px;
    color: #404040;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px 0px 20px 20px;
    text-align: right;
}


.serviceSec6 {
    margin: 4rem auto;
}

.serviceSec6 h1 {
    color: #034DA4;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 20px 0 0 20px;
    border-radius: 20px 20px 0 0;
    width: 35%;
    position: relative;
    top: 8px;
}

.serviceSec6 p {
    font-size: 18px;
    color: #404040;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 0 20px 20px 20px;
}

.rotate {
    width: 70px;
    height: 70px;
    border: 5px solid #034DA2;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    color: #034DA2;
    font-weight: bold;
}

.serviceHeader .card h5 {
    color: #034DA4;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    top: 20px;
}






/******************************** Footer *******************************/

footer {
    background-image: url("../images/footer.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

footer .container-fluid {
    padding: 0px 4rem;
}

footer .img-fluid {
    padding-top: 30px;
}

footer p {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 4.5rem;
}

footer input {
    box-shadow: 2px 5px 10px 0px rgba(5, 5, 5, 0.3) inset;
    border: 0;
    border-radius: 30px;
    padding: 5px 10px;
}

footer .socialList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 20%;
    position: relative;
    top: 20px;
    padding-bottom: 40px;
}

footer .btn {
    float: right;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    position: relative;
    top: 5px;
    left: 20px;
}

footer h3 {
    color: #034DA2;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

footer .footerList {
    list-style: none;
    padding: 0;
}

footer .footerList li {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

footer .bottomText {
    text-align: center;
}












/************************************ Media Query **********************************/

@media only screen and (max-width: 990px) {
    p {
        font-size: 15px !important;
    }

    .aboutHeader {
        padding: 40px 15px;
        margin-top: 3rem;
    }

    .aboutHeader ul li p {
        font-size: 8px !important;
        line-height: 12px;
    }

    .aboutHeader .img-fluid {
        bottom: 0;
        width: 90%;
    }

    .aboutSec2 h1 {
        padding-top: 20px;
    }

    .contactSec-1 .box-1 {
        width: 90%;
        margin: 0 auto;
    }

    .contactSec-1 .box-1 h1 {
        width: 50%;
        font-size: 20px;
        padding: 10px 0px;
    }

    .contactSec-1 ul {
        display: block;
        margin-top: 0px;
        position: unset;
        top: 0px;
    }

    .contactSec-1 ul li {
        width: 100%;
    }

    .contactSec-1 .box-2 {
        width: 90%;
        margin: 0px auto;
        position: relative;
        top: 30px;
        padding-bottom: 20px;
    }

    .contactSec-1 .box-2 h1 {
        width: 50%;
        position: relative;
        left: 4.5%;
        font-size: 20px;
        padding: 10px 0;
        margin-left: auto;
    }

    div#orderImg {
        order: -1;
    }

    footer .container-fluid {
        padding: 0px 2rem !important;
    }

    footer .bottomText {
        text-align: center;
        font-size: 12px !important;
    }

    footer p {
        margin-top: 2rem !important;
    }

    footer .socialList {
        width: 35%;
    }

    .serviceSec5 h1 {
        width: 70% !important;
    }

    .serviceSec2 h1 {
        width: 54% !important;
    }

    .serviceSec3 h1 {
        width: 66% !important;
    }

    .serviceSec4 h1 {
        width: 64%;
    }

    .serviceSec6 h1 {
        width: 61%;
    }

    #carouselService {
        padding: 0 !important;
    }

    .serviceHeader {
        margin: 2rem auto;
    }

    .serviceHeader .carousel-control-next-icon {
        height: 24px !important;
    }

    .serviceHeader .carousel-control-prev-icon {
        height: 24px !important;
    }

    .serviceHeader .card {
        margin-left: unset;
        margin: 0 auto;
        position: relative;
        top: 23px;
    }

    footer {
        background-size: cover !important;
    }

    footer .img-fluid {
        width: 55%;
    }

    footer .btn {
        top: -33px;
    }

    .aboutHeader ul li {
        width: 65px;
    }

    .contactSec-1 .content {
        padding: 30px;
    }

    .contactSec-1 p {
        font-size: 14px !important;
    }
}

@media screen and (max-width : 767px) {

.login-box {
    width: 296px;
    margin-top: 15rem;
}
.aboutHeader{
    padding-top: 50px !important;
}
.main-indus{
    padding-top: 25px !important;
}
.health-indus-divs-img img {
    width: 70% !important;
    margin: 0 auto;
    display: flex;
}
.energy-indus-divs-img img {
    width: 70% !important;
    margin: 0 auto;
    display: flex;
}
.our-networks-main{
    padding-top: 15px;
}

.grid-item{
    margin-bottom: 20px;
}
.contactSec-1 label {
    font-size: 14px;
}
}
.login-box {
    width: 296px;
    margin-top:18rem;
}